.ui-listview {
	top: 0.7em;
	right: 1em;
}

/*.ui-mobile-viewport-transitioning .ui-header-fixed,
.ui-mobile-viewport-transitioning .ui-footer-fixed { visibility: hidden; }*/

.ui-page {
    -webkit-backface-visibility: hidden;
}

.has-vote-btns {
	padding-left: 27px;
}

.vote-btns {
	position: absolute;
	padding-left: 3px;
	top: 0px;
	width: 39px;
	bottom: 0px;
}

.vote-btns a:first-child {
	padding-left: 3px;
	position: absolute;
	bottom: 50%;
	margin-bottom: 2px;
}

.vote-btns a:last-child {
	padding-left: 3px;
	position: absolute;
	top: 50%;
	margin-top: 2px;
}

.message-holder {
	margin: 0;
	padding: 10px;
	font-size: 0.95em;
	text-align: center;
	border: 1px solid #f5f5f5;
	background-color: #ffffff;
	border-radius: 4px;
}

.message-holder p.message {
	text-shadow: none;
}

.message-holder.success {
	background-color: #90cc90;
	color: #ffffff;
}

.message-holder.error {
	background-color: #ff1f3f;
	color: #ffffff;
}

.message-holder.warning {
	background-color: #ffa500;
	color: #ffffff;
}

.hidden {
	display: none;
}

.ui-icon-user:after {
	background-repeat: no-repeat;
	background-position: 0.32em 0.22em;
}

.ui-icon-eraser:after {
	background-repeat: no-repeat;
	background-position: 0.22em 0.22em;
}

.ui-loader .ui-icon-loading {
	background-color: transparent;
}

.ui-icon-loading {
	background: url("/resources/static/images/ajax-loader.gif");
}


